<script lang="ts">
	import { page } from "$app/stores";
	import { browser } from "$app/environment";
	import { authStore } from "$lib/core/stores";

	import "../style/main.css";

	let path = $page.url.pathname;
	$: path = $page.url.pathname;

	// If authStore is invalid, log out
	if (browser) if (!$authStore?.isValid) $authStore = $authStore = null;
</script>

<div class="hmf">
	<header>
		<nav>
			<a href="/" class:active={path == "/"}><i class="bi bi-shop" /> Market</a>
			{#if $authStore != null}
				<a href={"/user/" + $authStore.name} class:active={path == "/user/" + $authStore.name}>
					<i class="bi bi-cash-coin" /> Own sales
				</a>
			{/if}
		</nav>
		{#if $authStore != null}
			<button type="button" class="inverse" on:click|preventDefault={() => ($authStore = null)}>
				<i class="bi bi-box-arrow-right" /> Logout
			</button>
		{/if}
	</header>
	<main>
		<slot />
	</main>
	<footer>
		<p>&copy; 2022 &middot; <a href="https://schindlerfelix.de">Felix Schindler</a></p>
		<p>
			<a href="/imprint">Impressum</a>
			<a href="/privacy">Datenschutzinformation</a>
		</p>
	</footer>
</div>

<style lang="scss">
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 1em;
	}

	main {
		padding: 0 1em;
	}

	footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		gap: 1em;

		p {
			margin: 0;
		}
	}
</style>
