<script lang="ts">
	import { GET } from "$lib/core/API";

	import Sales from "$lib/components/Sales.svelte";
	import Spinner from "$lib/components/Spinner.svelte";
	import type { API_Sale } from "$lib/core/types";
	import Login from "./Login.svelte";

	// loading doesn't get set correctly
	let loading = true,
		sales: API_Sale[],
		item: string,
		player: string;

	async function getSales() {
		const params = new URLSearchParams();

		if (item) {
			params.append("item", item);
		}

		if (player) {
			params.append("player", player);
		}

		if (params.toString() != "") {
			sales = await GET("/api/sales?" + params.toString());
		} else {
			sales = await GET("/api/sales");
		}

		loading = false;
	}

	getSales();
</script>

<Login />
<div class="head">
	<h1>Market</h1>

	<form on:submit|preventDefault={() => getSales()}>
		<input type="text" placeholder="Item" />
		<input type="text" placeholder="Player" />
		<button type="submit" disabled={loading}>
			{#if loading}
				<Spinner />
			{:else}
				<i class="bi bi-search" />
			{/if}
			Search
		</button>
	</form>
</div>

{#if loading}
	<div class="ac">
		<span><Spinner /> Loading Sales...</span>
	</div>
{:else}
	<Sales {sales} />
{/if}

<style lang="scss">
	div.head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 1em;

		margin-block-end: 1em;

		h1 {
			margin: 0;
		}
	}
</style>
