<script lang="ts">
	import { AuthStore, authStore } from "$lib/core/stores";
	import { POST } from "$lib/core/API";

	let uname: string, pass: string;

	async function login() {
		const res = await POST("/api/login", {
			username: uname,
			password: pass,
		});

		$authStore = new AuthStore(res.uuid, res.name, res.balance, res.token);
	}
</script>

<div>
	<img
		src="/camo/avatar/{$authStore?.name ?? 'Notch'}"
		alt="Head of {$authStore?.name ?? 'Notch'}"
		loading="lazy" />
	{#if $authStore == null}
		<form on:submit|preventDefault={login}>
			<input type="text" placeholder="Username" bind:value={uname} />
			<input type="password" placeholder="Password" bind:value={pass} />
			<button type="submit">Login</button>
			<em>Registrieren: <code>/register &lt;password&gt;</code></em>
		</form>
	{:else}
		<div>
			<p>{$authStore.name}</p>
			<p>Balance: <mark>{$authStore.balance}</mark></p>
		</div>
	{/if}
</div>

<style lang="scss">
	div {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 1em;

		margin-block-end: 2em;

		div {
			display: flex;
			flex-direction: column;
			gap: 0.25em;

			p {
				margin: 0;
			}
		}

		img {
			border-radius: var(--radius);
		}
	}
</style>
