<script lang="ts">
	import { page } from "$app/stores";
	import { GET } from "$lib/core/API";

	import Sales from "$lib/components/Sales.svelte";
	import Spinner from "$lib/components/Spinner.svelte";

	let name = $page.params.name;
	let userData: any;

	async function getUser() {
		userData = await GET("/api/user/" + name + "?include[]=sales&include[]=user");
	}

	getUser();
</script>

<div class="head">
	<img src="/camo/avatar/{name}" alt="Head of {name}" loading="lazy" />
	<div>
		<h1>{name}</h1>
		{#if userData}
			<p>Active Sales: <mark class="mono">{userData.sales.length}</mark></p>
			<p>Balance: <mark class="mono">${userData.user.balance}</mark></p>
		{/if}
	</div>
</div>

{#if userData}
	<Sales sales={userData.sales} />
{:else}
	<div class="ac">
		<span><Spinner /> Loading...</span>
	</div>
{/if}

<style lang="scss">
	div.head {
		display: flex;
		align-items: center;
		gap: 0.5em;

		margin-block-end: 0.75em;

		div {
			display: flex;
			flex-direction: column;

			h1,
			p {
				margin: 0;
			}
		}

		img {
			border-radius: var(--radius);
		}
	}
</style>
