<script lang="ts">
	import { authStore } from "$lib/core/stores";
	import type { API_Sale } from "$lib/core/types";
	import Sale from "./Sale.svelte";

	export let sales: API_Sale[];
</script>

<div class="card">
	<span>Item</span>
	<span>User</span>
	<span>Quantity</span>
	<span>Price / Item</span>
	{#if $authStore != null}
		<span>Buy</span>
	{/if}
</div>
{#each sales as sale}
	<div class="card">
		<Sale {sale} />
	</div>
{/each}

<style lang="scss">
	div.card {
		display: flex;
		justify-content: space-between;
		margin-bottom: 0.5em;
	}
</style>
