<script lang="ts">
	import { authStore } from "$lib/core/stores";
	import type { API_Sale } from "$lib/core/types";

	export let sale: API_Sale;
	let chosenQuantity = "";
</script>

<span>
	<img src={`/img/textures/${sale.item.toLowerCase()}.png`} alt={sale.item} loading="lazy" />
	{sale.item}
</span>
<span>
	<img src={`/camo/avatar/${sale.playerName}`} alt={`Head of ${sale.playerName}`} loading="lazy" />
	<a href={`/user/${sale.playerName}`}>{sale.playerName}</a>
</span>
<span>
	<span class="mono">{sale.quantity.toLocaleString()}</span>
	<span class="s">items available</span>
</span>
<span>
	<span class="mono">${sale.price.toLocaleString()}</span>
	<span class="s">per item</span>
</span>
{#if $authStore != null}
	<span>
		<input
			type="number"
			placeholder="n"
			step="1"
			min="1"
			max={sale.quantity}
			bind:value={chosenQuantity} />
		x
		<button type="button"
			>{chosenQuantity != ""
				? Number(Number(chosenQuantity) * sale.price).toLocaleString(undefined, {
						maximumFractionDigits: 2,
				  })
				: ""} Buy</button>
	</span>
{/if}

<style lang="scss">
	span {
		display: flex;
		align-items: center;
		gap: 0.4em;

		img {
			height: 2em;
			width: 2em;
			border-radius: var(--radius);
		}

		input[type="number"] {
			width: auto;
		}

		span.s {
			color: var(--light-gray-fg);
		}
	}
</style>
